body {
	background: url("background.jpg");
	color: #ffffff;
  margin: auto;
  width: 80%;
  font-family: 'Open Sans', sans-serif;
}
/*animation css*/
.tossing{
	animation-name: tossing;
	-webkit-animation-name: tossing;

	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
	0% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(4deg);
	}
	100% {
		transform: rotate(-4deg);
	}
}
.tossing{
  height: 190px;
  width: 180px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 30px 30px 0px;
}
.hatch{
	animation-name: hatch;
	-webkit-animation-name: hatch;

	animation-duration: 2s;
	-webkit-animation-duration: 2s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;

	visibility: visible !important;
}
@keyframes hatch {
	0% {
		transform: rotate(0deg) scaleY(0.6);
	}
	20% {
		transform: rotate(-2deg) scaleY(1.05);
	}
	35% {
		transform: rotate(2deg) scaleY(1);
	}
	50% {
		transform: rotate(-2deg);
	}
	65% {
		transform: rotate(1deg);
	}
	80% {
		transform: rotate(-1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.entete{
  color: #82b9e0;
  font-size: 1em;
  font-family: 'Varela', sans-serif;
}
.local{
	display: flex;
	align-items: center;
}
nav{
	display: flex;
	flex-direction: column;
  position: fixed;
  left: 0px;
	padding: 10px;
	background-color: rgba(15, 54, 142, 0.54);
	border: 2px solid rgb(78, 55, 67);
	border-radius: 40px;
}
.stretchRight{
	animation-name: stretchRight;
	-webkit-animation-name: stretchRight;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;

	transform-origin: 0% 0%;
	-ms-transform-origin: 0% 0%;
	-webkit-transform-origin: 0% 0%;
}

@keyframes stretchRight {
	0% {
		transform: scaleX(0.3);
	}
	40% {
		transform: scaleX(1.02);
	}
	60% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(0.98);
	}
	80% {
		transform: scaleX(1.01);
	}
	100% {
		transform: scaleX(1);
	}
}
li{
	display: block;
	line-height: 200%;
}
a:visited{
  color: rgb(115, 26, 215);
}
a:hover{
	color: rgba(195, 49, 230, 0.31);
}
h2{
	text-decoration: underline;
	text-align: center;
	margin: 60px 0px 60px 0px;
	color: #BE90D4;
}
p{
	margin: 0px 60px 20px 60px;
  line-height: 130%;
  font-size: 1.1em;
}
#fusion{
  display: flex;
  align-items: center;
}
table, tr, th, td{
  border: 2px solid rgb(122, 191, 213);
  padding: 5px 5px;
  margin: auto;
  margin-top: 40px;
}
th{
	background-color: rgba(46, 30, 250, 0.48);
}
.code-die{
	width: 600px;
	height: 500px;
	display: block;
  margin: auto;
}
.liens{
	display: flex;
	justify-content: space-around;
}

.img-site{
	border-radius: 30%;
	background: white;
}

.floating{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(8%);
	}
	100% {
		transform: translateY(0%);
	}
}
