body {
	background: url("http://iwallpapers2.free.fr/images/Photographie/Black_Collection/Bois_sombre_Texture_1920x1080.jpg");
	color: #ffffff;
  margin: auto;
  width: 80%;
  font-family: 'Open Sans', sans-serif;

}
.portrait{
  height: 190px;
  width: 180px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px 30px 30px 0px;
}
header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.entete{
  color: #E08283;
  font-size: 1.5em;
  font-family: 'Varela', sans-serif;
}
nav{
  border: 1px solid white;
  border-radius: 30px;
	width: 100%;
	padding: 10px 0px 10px 0px;
  margin: 10px 40px 10px 0px;
}
li{
	display: block;
	line-height: 200%;

}
a:visited{
  color: rgb(115, 26, 215);
}
a:hover{
	color: rgba(195, 49, 230, 0.31);
}
.titre{
	text-decoration: underline;
	color: #BE90D4;
}
p{
  line-height: 120%;
  font-size: 1.1em;
}
#fusion{
  display: flex;
  align-items: center;
}
table, th, td{
  border-collapse: collapse;
  border: 2px solid rgb(122, 191, 213);
  padding: 5px 5px;
  margin: auto;
  margin-top: 40px;
}
.code-die{
	padding: 50px;
	width: 600px;
	height: 500px;
	display: block;
  margin: auto;

}
